# Dart ignores form: https://www.dartlang.org/tools/private-files.html

# Files and directories created by pub and dart2js
build/
packages/
pubspec.lock
.buildlog
.packages
.project
.pub/

# API documentation directory created by dartdoc
doc/api/

# Files and directories dropped by other development environments
*.iml
*.ipr
*.iws
.idea/
.DS_Store

# Generated JavaScript files
*.dart.js
*.js_
*.js.deps
*.js.map
